/* //feature-component */
.homeContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.homeTitle {
  width: 1024px;
  margin-block: revert;
  font-size: 25px;
}
.pTitle {
  /* width: 100%; */
  /* max-width: 1024px; */
  width: 1024px;
  margin-block: revert;
  font-size: 25px;
}
